<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OroSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link href="@Url.Content("~/css/Crm/app.css")" rel="stylesheet" />

 
</head>
<body>
 
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">AdminKit</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="index.html">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Dashboard</span>
                        </a>
                    </li>

                </ul>

        
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <!-- Navbar  -->
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">        
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                 <span class="text-dark avatar img-fluid rounded me-1"> Admin panel</span>
                            </a>
                            
                           <div class="dropdown dropdownStyle">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"> Profile </a>
    <a class="dropdown-item" href="#"> Analytics </a>
    <a class="dropdown-item" href="#"> Settings & Privacy </a>
    <a class="dropdown-item" href="#"> Help Center </a>
     @* <a class="dropdown-item" href="#" > Log out </a> *@
     <a class="dropdown-item" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="/" data-method="post"> Log out</a>
      <a class="dropdown-item" href="#">  
            @*  @if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Account" asp-action="UserLogins" asp-route-returnUrl="/" method="post">
                                    <button type="submit" class="dropdown-item"> Admin </button>
                                </form>
                            }  *@
                            @* @if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Account" asp-action="FilterWithPjax" asp-route-returnUrl="/" method="post">
                                    <button type="submit" class="dropdown-item"> Admin </button>
                                </form>
                            } *@
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Account" asp-action="UserLoginHistory" asp-route-returnUrl="/" method="post">
                                    <button type="submit" class="dropdown-item admin"> Admin</button>
                                </form>
                            } </a>
                                    
  </div>
</div>
                            


                        </li>
                    </ul>
                </div>
            </nav>


           @RenderBody()

            <!-- Footer  -->
            <footer class="footer" style="margin-top: auto;">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/"
                                    target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted"
                                    href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin
                                        Template</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
        

           
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="@Url.Content("~/js/Crm/app.js")"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
